Te enviamos este mensaje para alertarte de que una dirección IP fue recientemente baneada debido a repetidos intentos fallidos de inicio de sesión en el panel de operador del help desk. Te pedimos que consideres la información de estos intentos, la cual incluimos a continuación. Una serie de repetidos intentos fallidos pueden indicar que una parte no autorizada está tratando de obtener acceso. Asegúrate de investigarlo detenidamente.<br>
<br>
<strong>Dirección IP:</strong> {{ ban.ip }}<br>
<br>
Para ajustar o eliminar el baneo de la IP, por favor dirígete a:<br>
<a href="{{ ban.operator_edit_url }}">{{ ban.operator_edit_url }}</a>