Se ha procesado una exportación que solicitaste y ya está lista para descargarse:<br>
<a href="{{ download_url }}">{{ filename }}</a><br>
<br>
Si necesitas eliminar la exportación o solicitar una nueva, puedes hacerlo desde la página de editar usuarios con el enlace a continuación. Una lista de exportaciones previas estará también disponible.<br>
<a href="{{ edit_url }}">{{ edit_url }}</a>