Estimado/a {{ user.formatted_name }},<br>
<br>
Acabamos de configurarte una cuenta en nuestro help desk. Ahora solo necesitas configurar una contraseña. Esto no tardará mucho.<br>
<br>
Haz clic en el enlace a continuación para comenzar:<br>
<a href="{{ verification_link }}">{{ verification_link }}</a><br>
<br>
Este enlace será valido durante los próximos 7 días. Si no activas tu cuenta a tiempo, puedes volver a registrarte en el help desk.<br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>