Estimado/a {{ user.formatted_name }},<br>
<br>
Por favor, verifica tu correo electrónico haciendo clic en el enlace a continuación:<br>
<a href="{{ verification_link }}">{{ verification_link }}</a><br>
<br>
Este enlace será válido durante las próximas 24 horas.<br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>