Hemos recibido una solicitud para restablecer la contraseña de tu cuenta de operador del help desk. Por favor, confirma tu dirección de correo electrónico haciendo clic en el siguiente enlace, y después podrás establecer una nueva contraseña:<br>
<a href="{{ confirmation_link }}">{{ confirmation_link }}</a><br>
<br>
Este enlace será valido durante las próximas 24 horas. Si no iniciaste esta solicitud, por favor, ponte en contacto con un administrador.