Estimado/a {{ user.formatted_name }},<br>
<br>
Hemos recibido una solicitud para cambiar la dirección de correo electrónico en tu cuenta.<br>
<br>
Si tú solicitaste este cambio, por favor, verifica tu nueva dirección de correo electrónico haciendo clic en el siguiente enlace:<br>
<a href="{{ verification_link }}">{{ verification_link }}</a><br>
<br>
Este enlace será valido durante las próximas 24 horas. Si no confirmas la verificación, la dirección de correo electrónico en la cuenta continuará siendo la misma.<br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>