Hola,<br>
<br>
El mensaje que enviaste no ha podido ser aceptado ya que no se ha identificado como procedente de una dirección de correo electrónico perteneciente
a uno de nuestros clientes.<br>
<br>
Si necesitas asistencia, te pedimos que nos envíes un correo desde la dirección de correo electrónico que usaste para registrarte con nosotros, o que inicies sesión y nos envíes una solicitud
a través del help desk en el siguiente enlace.<br>
<a href="{{ brand.frontend_url }}">{{ brand.frontend_url }}</a><br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>