Estimado/a {{ user.formatted_name }},<br>
<br>
El mensaje que enviaste no ha podido ser aceptado. Por favor, responde a través de nuestro help desk en el siguiente enlace.<br>
<a href="{{ ticket.frontend_url }}">{{ ticket.frontend_url }}</a><br>
<br>
Atentamente,<br>
<strong>{{ brand.name }}</strong>